{% include 'header.html' %}
<main class="wp-block-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--70)">
	
	<h1 class="alignwide wp-block-heading" style="margin-bottom:var(--wp--preset--spacing--60)">Mindblown: a blog about philosophy.</h1>
	

	
	<div class="wp-block-query alignwide has-global-padding is-layout-constrained wp-block-query-is-layout-constrained">
		<ul class="is-flex-container columns-3 alignwide wp-block-post-template is-layout-flow wp-block-post-template-is-layout-flow"><li class="wp-block-post post-19 post type-post status-publish format-standard hentry category-uncategorized tag-boat tag-lake">
			
			<h2 class="wp-block-post-title"><a href="https://wp-themes.com/twentytwentythree/?p=19" target="_self" >Worth A Thousand Words</a></h2>
			<div class="wp-block-post-excerpt"><p class="wp-block-post-excerpt__excerpt">Boat. </p></div>
			<div class="wp-block-post-date"><time datetime="2008-10-17T04:33:51+00:00"><a href="https://wp-themes.com/twentytwentythree/?p=19">October 17, 2008</a></time></div>

			
			<div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
			
		</li><li class="wp-block-post post-36 post type-post status-publish format-standard hentry category-uncategorized">
			
			<h2 class="wp-block-post-title"><a href="https://wp-themes.com/twentytwentythree/?p=36" target="_self" >Elements</a></h2>
			<div class="wp-block-post-excerpt"><p class="wp-block-post-excerpt__excerpt">The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site. Heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 [top] Paragraph&hellip; </p></div>
			<div class="wp-block-post-date"><time datetime="2008-09-05T19:39:12+00:00"><a href="https://wp-themes.com/twentytwentythree/?p=36">September 5, 2008</a></time></div>

			
			<div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
			
		</li><li class="wp-block-post post-14 post type-post status-publish format-standard hentry category-uncategorized tag-wordpress">
			
			<h2 class="wp-block-post-title"><a href="https://wp-themes.com/twentytwentythree/?p=14" target="_self" >More Tags</a></h2>
			<div class="wp-block-post-excerpt"><p class="wp-block-post-excerpt__excerpt">More of these posts need tags. </p></div>
			<div class="wp-block-post-date"><time datetime="2008-06-21T00:09:24+00:00"><a href="https://wp-themes.com/twentytwentythree/?p=14">June 21, 2008</a></time></div>

			
			<div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
			
		</li><li class="wp-block-post post-8 post type-post status-publish format-standard hentry category-uncategorized tag-html tag-wordpress">
			
			<h2 class="wp-block-post-title"><a href="https://wp-themes.com/twentytwentythree/?p=8" target="_self" >HTML</a></h2>
			<div class="wp-block-post-excerpt"><p class="wp-block-post-excerpt__excerpt">What HTML tags would you like to see? Let&#8217;s start with an unordered list: One Two Three Four And then move on to a more interesting ordered list: one, two buckle my shoe three, four knock at the door Five, six pick up sticks Seven, eight, lay them straight Nine, ten, a big fat hen&hellip; </p></div>
			<div class="wp-block-post-date"><time datetime="2008-06-21T00:04:53+00:00"><a href="https://wp-themes.com/twentytwentythree/?p=8">June 21, 2008</a></time></div>

			
			<div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
			
		</li><li class="wp-block-post post-6 post type-post status-publish format-standard hentry category-uncategorized">
			
			<h2 class="wp-block-post-title"><a href="https://wp-themes.com/twentytwentythree/?p=6" target="_self" >Links</a></h2>
			<div class="wp-block-post-excerpt"><p class="wp-block-post-excerpt__excerpt">A few well known WordPress links: WordPress.org, the Codex and the download page. </p></div>
			<div class="wp-block-post-date"><time datetime="2008-06-20T20:06:53+00:00"><a href="https://wp-themes.com/twentytwentythree/?p=6">June 20, 2008</a></time></div>

			
			<div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
			
		</li><li class="wp-block-post post-4 post type-post status-publish format-standard hentry category-first-child-category category-one-grandchild-category category-parent category-second-child-category">
			
			<h2 class="wp-block-post-title"><a href="https://wp-themes.com/twentytwentythree/?p=4" target="_self" >Category Hierarchy</a></h2>
			<div class="wp-block-post-excerpt"><p class="wp-block-post-excerpt__excerpt">This post has 4 categories, part of a hierarchy that is 3 deep. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce euismod commodo ante. Suspendisse potenti. Nunc pellentesque quam vel pede. Ut a lorem non urna molestie euismod. Fusce consequat tortor eu urna. Pellentesque aliquam, pede eget tincidunt feugiat, nunc massa hendrerit magna, non&hellip; </p></div>
			<div class="wp-block-post-date"><time datetime="2008-06-20T19:59:54+00:00"><a href="https://wp-themes.com/twentytwentythree/?p=4">June 20, 2008</a></time></div>

			
			<div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
			
		</li><li class="wp-block-post post-1 post type-post status-publish format-standard hentry category-uncategorized">
			
			<h2 class="wp-block-post-title"><a href="https://wp-themes.com/twentytwentythree/?p=1" target="_self" >Hello world!</a></h2>
			<div class="wp-block-post-excerpt"><p class="wp-block-post-excerpt__excerpt">Welcome to WordPress. This is your first post. Edit or delete it, then start blogging! </p></div>
			<div class="wp-block-post-date"><time datetime="2008-06-04T22:40:06+00:00"><a href="https://wp-themes.com/twentytwentythree/?p=1">June 4, 2008</a></time></div>

			
			<div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
			
		</li></ul>

		
	</div>
	

	
	<div style="height:var(--wp--preset--spacing--60)" aria-hidden="true" class="wp-block-spacer"></div>
	

	
<div class="wp-block-columns alignwide is-layout-flex wp-container-11 wp-block-columns-is-layout-flex">
	
	<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
		
		<p class="has-x-large-font-size" style="line-height:1.2">Got any book recommendations?		</p>
		

		
		<div class="wp-block-buttons is-layout-flex wp-block-buttons-is-layout-flex">
			
			<div class="wp-block-button has-custom-font-size has-small-font-size">
				<a class="wp-block-button__link wp-element-button">
				Get In Touch				</a>
			</div>
			
		</div>
		
	</div>
	

	
	<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
		
		<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
		
	</div>
	
</div>


</main>
<a href="/wp-login.php">Login</a>

{% include 'footer.html' %}